{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% import 'admin/static.html' as admin_static with context%}
{% import 'admin/model/layout.html' as model_layout with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block body %}
  {% block model_menu_bar %}
  <ul class="nav nav-tabs actions-nav">
      <li>
          <a href="{{ return_url }}">{{ _gettext('List') }}{% if count %} ({{ count }}){% endif %}</a>
      </li>
      <li class="active">
          <a href="javascript:void(0)">{{ _gettext('Update') }}</a>
      </li>
      {% if update_columns %}
          {{ model_layout.update_options() }}
      {% endif %}
  </ul>
  {% endblock %}

  {% block update_form %}
      {{ lib.render_form(form, return_url, extra(), form_opts) }}
  {% endblock %}
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="{{ admin_static.url(filename='admin/js/filters.js', v='1.0.0') }}"></script>
    {{ lib.form_js() }}

{% endblock %}
